<html>
<head>
    <meta charset="utf-8">
    <title>Greeting</title>
</head>
<body>
<div>Hello, user</div>
<div>
    <a href="/sales-controller/main">Sales page</a>
</div>
<div>
    <a href="/warehouses-controller/main">Warehouses page</a>
</div>
</body>
</html>