<html>

<body>
    <div>
        <form method="post" action="add-through-mustache">
            <input type ="number" name="amount" placeholder="amount">
            <input type ="number" name="quantity" placeholder="quantity">
            <input type ="datetime-local" name="local_date" placeholder="2000-01-01">
            <input type ="number" name="warehouse_id" placeholder="warehouse_id">
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Server response:</div>
    {{#response}}
        <div>
            <b>{{message}}</b>
        </div>
    {{/response}}
</body>

</html>