<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
Create new user
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Add"/></div>
</form>
</body>
</html>