<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>List of sales</h1>
<div style="width:100%">
    {{#sales}}
        <b> Id: </b>{{id}}
        <b> Amount: </b>{{amount}}
        <b> Quantity: </b>{{quantity}}
        <br>
        <hr>
    {{/sales}}
</div>
</body>
</html>