<html>
<body>
<h1>List of sales</h1>
<div style="width:100%">
    {{#sales}}
        <div>
            <b> Id:{{id}} </b>
            <span> Amount:{{amount}} </span>
            <span> Quantity:{{quantity}}</span>
            <span> Sale date:{{sale_date}}</span>
            <span> Warehouse id:{{warehouse_id}}</span>
        <br>
        <hr>
        </div>
    {{/sales}}
</div>
</body>
</html>