<html>
<head>
    <meta charset="utf-8">
    <title>Warehouses</title>
</head>
<body>

<div style="float: right;">
    <div>Add new goods</div>
    <form method="post" action="main">
        <input type ="text" name="name" placeholder="name">
        <input type ="number" name="amount" placeholder="amount">
        <input type ="number" name="quantity" placeholder="quantity">
        <button type="submit">Add</button>
    </form>
    <div>Server response:</div>
    {{#response}}
        <div>
            <b>{{message}}</b>
        </div>
    {{/response}}
</div>

<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Quantity</th>
        </tr>
        {{#warehouses}}
            <tr><td>{{id}}</td><td>{{name}}</td>><td>{{amount}}</td><td>{{quantity}}</td></tr>
        {{/warehouses}}
    </table>
</div>

</body>
</html>